classic:
  url: http://localhost:8080/etendo

das:
  url: http://localhost:8092
  grpc:
    ip: localhost
    port: 9090

management:
  endpoints:
    web:
      exposure:
        include: # This enable all actuator endpoints. For production usage open only needed config
          '*'
spring:
  output:
    ansi:
      enabled: # Shows console output with colors
        ALWAYS
