server:
  port: 8094

token: eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzd3MiLCJhdWQiOiJzd3MiLCJ1c2VyIjoiMTAwIiwiY2xpZW50IjoiMjNDNTk1NzVCOUNGNDY3Qzk2MjA3NjBFQjI1NUIzODkiLCJyb2xlIjoiNDJEMEVFQjFDNjZGNDk3QTkwREQ1MjZEQzU5N0U2RjAiLCJvcmdhbml6YXRpb24iOiIwIiwid2FyZWhvdXNlIjoiNEQ0NUZFNEM1MTUwNDE3MDkwNDdGNTFEMTM5QTIxQUMiLCJpYXQiOjE3NDQ4OTYxOTB9.A3tNu2NZc7u-zXhSSbp0_E-S1qX0Z1rZALoCe5c1E1g4ahXNisk6K9w8-mbdb1ZjJmHx0OXkbRFxC-GMQnBEog

management:
  endpoint:
    restart:
      enabled: true

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: placeholder
            client-secret: placeholder

private-key: >
  -----BEGIN PRIVATE KEY-----
  MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgM4dc5BquzL28t/+9
  BEZfjsQdFzdePiCwcNxYQbdi4BGhRANCAATDE+yXNQM6OCJP3ENNckQc2YOyW2FM
  zmFsXfNSMMOppqYczKzri9q9QuU/k+9WzMAlSNQXj4AdX5k8F8bjp9We
  -----END PRIVATE KEY-----

logging:
  level:
    root: DEBUG
